{% extends "layout.html" %}
{% block title %}History{% endblock %}
{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date/Time</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr>
            <td>{{ t.type|capitalize }}</td>
            <td>{{ t.symbol }}</td>
            <td>{{ t.shares }}</td>
            <td>{{ t.price | usd }}</td>
            <td>{{ t.transacted }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
